<div class="row">
	<main class="col-md-12">



	
      <h2>About Me</h2>
      <p>
        Welcome to my personal page! I'm Proshenjit Banik, I am a student of Seneca College and my
        course name is Business Information Technology.
      </p>
      <p>Phone Number: +1 437-766-2625</p>
      <p>Address : 142 Bonspiel Drive, Scarborough Ontario, M1E 5K4, CANADA</p>
      <p><a href="https://www.linkedin.com/in/proshenjit-banik-73076b14a/">Linkedin Profile</a></p>
      <br />
    
    
      <h2>Career Objective</h2>
      <p>
        To leverage my extensive nine-plus years of experience in network engineering and
        cybersecurity to contribute effectively to a dynamic and forward-thinking organization in
        Canada. I am eager to apply my technical expertise, strategic mindset, and problem-solving
        skills to enhance network infrastructure, optimize security measures, and play a key role in
        ensuring the digital resilience of the organization. As a dedicated professional, I am
        committed to continuous learning, adapting to evolving technologies, and collaborating with
        cross-functional teams to achieve mutual success and drive innovation in the ever-changing
        landscape of network engineering and cybersecurity.
      </p>
      <br />
    
      <h2>Summary Of My Qualification</h2>
      <ul>
        <li>
          Configured various network firewalls (IBOSS, Meraki, ASA with Firepower, FortiGate,
          Untangle, Sophos, Blucoat) across multiple locations.
        </li>
        <li>
          Implemented and managed Cisco network infrastructure, including ISR, WLC, and access
          switches.
        </li>
        <li>Enhanced network security with Cisco ISE-PIC and Cisco Firepower.</li>
        <li>Monitored network performance using tools like PRTG, Ping Plotter, and Zabbix.</li>
        <li>Conducted vulnerability assessments following HIPAA and CIS benchmarks with Nessus.</li>
        <li>Set up remote access VPNs (Cisco AnyConnect, OpenVPN, EzVPN, FortiConnect).</li>
        <li>
          Contributed to HITRUST certification by orchestrating network and security policy
          configurations.
        </li>
        <li>Managed intra-company remote access with Screen-Connect.</li>
        <li>Provided support through Freshdesk and Zendesk ticketing platforms.</li>
        <li>Utilized project management tools like ClickUp, Asana, and Jira.</li>
        <li>Oversaw VMware Horizon VDI infrastructure.</li>
        <li>Managed central Single Sign-On (SSO) with OKTA.</li>
        <li>Administered MDM solutions (JAMF, AirWatch, Intune) for various devices.</li>
        <li>Configured Microsoft Radius service for enhanced authentication.</li>
        <li>Developed Python scripts for automated configuration backups.</li>
        <li>Administered AD security policies for HIPAA, CIS, and HITRUST compliance.</li>
        <li>Handled Cisco networks, Switch Router, and Firewall configurations.</li>
        <li>Managed Sophos Endpoint Security and Email security appliances.</li>
        <li>Worked with Syslog and SIEM platforms (Splunk, AlienVault, Rsyslog).</li>
        <li>Configured UTM devices (Cyberoam, FortiGate, Palo Alto, Untangle, SonicWALL).</li>
        <li>Installed and configured Microsoft Active Directory and DNS services.</li>
        <li>Set up Microsoft Network Policy Server (Radius) and DHCP services.</li>
        <li>Managed end-user Windows updates through MS WSUS service.</li>
        <li>Configured and oversaw MS file and storage services.</li>
        <li>Handled VMware server virtualization using ESXI.</li>
        <li>Configured Linux systems for various services across multiple locations.</li>
      </ul>
      <br />
    
    
      <h2>Certifications</h2>
      <ul>
        <li>Cisco Certified Network Associate (CCNA)</li>
        <li>Cisco Certified Specialist - Enterprise Advanced Infrastructure Implementation</li>
        <li>Cisco Certified Specialist - Enterprise Core</li>
        <li>Cyberoam Certified Network & Security Professional (CCNSP)</li>
        <li>Sophos Email Protection - Certified Engineer</li>
        <li>Sophos XG Firewall - Certified Engineer</li>
        <li>Sophos Certified Engineer</li>
        <li>Vmware recognition of successful completion VTSP – NV (Network Virtualization 2016)</li>
        <li>Fortinet NSE-Certified</li>
        <li>F5 Certificate of course completion- Configuring and Administrating BIG-IP</li>
      </ul>
      <br />
    
    
      <h2>Education</h2>
      <ul>
        <li><b>Bachelor of Science in Electrical & Electronic Engineering.</b></li>
        <p>United International University, Bangladesh</p>
        <p>Completed Fall 2013</p>

        <li><b>Ontario Graduate Certificate program in Business Information Technology</b></li>
        <p>Seneca College, School of Information Technology Administration & Security, Canada</p>
        <p>Anticipated</p>
      </ul>
    



	</main>
</div>