
      <h2>Welcome to WEB700 Assignement 05</h2>
      <p>
        I'm Proshenjit Banik, I am a student of Seneca College and my
        course name is Business Information Technology. This is my assignment work, please navigate to other pages to see all the features. 
      </p>
      <p>Phone Number: +1 437-766-2625</p>
      <p>Address : 142 Bonspiel Drive, Scarborough Ontario, M1E 5K4, CANADA</p>
      <p>Click to know more about me:</p><p><a href="https://www.linkedin.com/in/proshenjit-banik-73076b14a/">Linkedin Profile</a></p>
   


