
      
      <h2>Welcome to WEB700 Assignement 06</h2>
      <p>
        I'm Proshenjit Banik, I am a student of Seneca College and my
        course name is Business Information Technology. This is my assignment work, please navigate to other pages to see all the features. 
      </p>
      <p>In this assignment, I transition a skeleton codebase to utilize a PostgreSQL database instead of file-based data storage. I start by configuring the database credentials and cleaning up the existing code to remove file-related dependencies. Next, I install necessary dependencies like Sequelize and define data models for "Student" and "Course." Then, I update existing functions to interact with the database, add new routes and functionality for CRUD operations on students and courses, and modify views to reflect these changes. Ultimately, I ensure proper documentation and submission of the assignment, which aims to improve the user experience by integrating a database and enhancing functionality.</p>
     


